@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/react-personal-bio-site.appspot.com/o/fallcreekfalls.jpeg?alt=media&token=2125f1e5-ac48-42a3-8c89-f6d8ab2fa09d);
  background-color: $favColor;
}

.paper {
  margin-top: 20px
}

.contact-icons {
  width: 35px
}
.contact-icons2 {
  width: 40px
}

.about-me{
  margin: 70px 0px
}
.card-container {
  margin: 70px 0px
}

.heading1 {
  color: white
}

.tech-icon {
  height: 110px
}

#nav-bar {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  margin: 0 auto;
  top: 0;
  width: 100%;
  z-index: 5;
  padding: 0;
}
